.inputDiv{
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #d6eeff, #aef9cb);
  padding: 2rem;
}

.container_dark {
  position: relative; /* Add this */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #252424, #3f403f);
  padding: 2rem;
}


.form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}